.aaa{
    background-color: #FBF8CC;
}
.name111{
    color: #03045E;
}
.navbar{
    background-color: #FBF8CC;
}
.a111{
    margin-left: 130%;
}
.a222{
    padding-left: 20%;
}
.a333{
    padding-left: 20%;
}
.a444{
    padding-left: 140%;
}
.a555{
    padding-left: 3%;
}
.a666{
    padding-left: 3%;
}
.qwer{
    margin-top: 10%;
}
.but{
    box-shadow:10px 5px 5px  #F5EE84;
    border: black;
}